@import url(https://fonts.googleapis.com/css?family=Roboto:300);
h1 {
  color: #ffffff;
}
.page {
  display: flex;
  flex-wrap: wrap;
}
.form {
  flex-basis: 50%;
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#chat {
  max-height: 500px;
  overflow-y: scroll;
}
.form input,
.form textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form input[type="submit"] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form input[type="submit"]:hover,
.form input[type="submit"]:active,
.form input[type="submit"]:focus {
  background: #43a047;
}

.card {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.card__name {
  flex-basis: 30%;
  font-weight: bolder;
}
.card__date {
  flex-basis: 30%;
  font-style: italic;
  font-size: smaller;
}
.card__img {
  width: 50px;
  max-width: 100%;
}
.card__comment {
  flex-basis: 100%;
}

body {
  background: linear-gradient(
    90deg,
    rgba(141, 194, 111, 1) 0%,
    rgba(118, 184, 82, 1) 50%
  );
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
